.btn {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  border: none;
  background-color: transparent;
  color: $color-default-white;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
