.logo {
  display: flex;
  fill: $color-default-white;

  &--curren-page {
    pointer-events: none;
    cursor: default;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover:not(:active) {
      opacity: 0.5;
    }
  }

  &:active {
    opacity: 0.25;
  }
}

.logo__icon {
  @include max-tablet {
    width: 81px;
    height: 18px;
  }

  @include max-mobile {
    width: 67px;
  }
}
