.promo {
  color: $color-default-white;
}

.promo h2 {
  margin: 0;
  padding-top: 8px;
  font-family: $ff-bebas-neue;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  grid-row: 1 / 3;

  @include max-tablet {
    padding-top: 4px;
    font-size: 52px;
    line-height: 52px;
  }
}

.promo p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @include max-tablet {
    font-size: 12px;
    line-height: 18px;
  }
}

.promo a {
  padding: 27px 40px 26px 40px;
  box-shadow: 0 0 0 2px inset $color-default-white,
    0 0 0 2px $color-default-white;

  @include max-tablet {
    padding-top: 14px;
    padding-bottom: 13px;
    font-size: 10px;
    line-height: 12px;
    box-shadow: 0 0 0 1px inset $color-default-white,
      0 0 0 1px $color-default-white;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover:not(:active) {
      background: $color-default-white;
      color: $color-sapphire;
      box-shadow: 0 0 0 2px inset $color-resolution-blue,
        0 0 0 2px $color-resolution-blue;
    }
  }

  &:active {
    opacity: 0.25;
  }
}

.promo img {
  height: 100%;
  color: $color-sapphire;

  @include max-mobile {
    width: 100%;
  }
}

.promo__wrapper {
  padding: 120px 0;
  display: grid;
  grid-template-columns: 1fr auto;

  @include max-tablet {
    grid-template-columns: 1fr minmax(386px, 1fr);
    padding: 100px 45px;
  }

  @include max-mobile {
    padding: 70px 15px;
    display: block;
  }
}

.promo__column {
  padding: 80px 79px 87px 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $color-torch-red;

  @include max-tablet {
    padding: 47px 45px 50px 45px;
  }
}

.promo__head-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 2px;

  @include max-tablet {
    column-gap: 30px;
    row-gap: 0;
  }

  @include max-mobile {
    margin-bottom: 32px;
  }
}

.promo__head-wrapper > p {
  grid-column: 1 / 3;
  margin-top: 1px;

  @include max-tablet {
    margin-top: -2px;
  }
}

.promo__date-time {
  &--date span {
    display: inline-grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 7px;

    @include max-tablet {
      column-gap: 4px;
    }

    &::before {
      top: 5px;
      right: 0;

      @include max-tablet {
        top: 1px;
      }
    }
  }

  &--date b {
    grid-row: 1 / 3;
    align-self: center;
  }

  &--date small {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include max-tablet {
      font-size: 10px;
      line-height: 15px;
    }

    &:first-of-type {
      align-self: flex-end;
    }

    &:last-of-type {
      margin-top: -4px;
      align-self: flex-start;

      @include max-tablet {
        margin-top: 0;
        transform: translateY(-3px);
      }
    }
  }

  &--time span {
    display: inline-flex;
    flex-direction: column;

    @include max-tablet {
      transform: translateY(-2px);
    }

    &::before {
      top: 5px;
      right: 4px;

      @include max-tablet {
        top: 3px;
        right: 0;
      }
    }
  }
}

.promo__date-time span {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include max-tablet {
    font-size: 24px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    background: $color-default-white;
  }
}
