.reviews h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  @include max-tablet {
    margin-bottom: 39px;
    font-size: 42px;
    line-height: 42px;
  }

  @include max-mobile {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__wrapper {
  padding: 0 244px 120px 244px;

  @include max-tablet {
    padding: 0 45px 100px 45px;
  }

  @include max-mobile {
    padding: 0 15px 70px 15px;
  }
}

.reviews__slider-wrapper {
  position: relative;
  padding: 0 56px;

  @include max-tablet {
    padding: 0 56px;
  }

  @include max-mobile {
    padding: 0 32px;
  }
}

.reviews__swiper {
  box-shadow: 0 0 40px 0 $color-resolution-blue-opacity;
}

.reviews__card {
  padding: 61px 56px 51px 62px;
  color: $color-default-white;
  background: $color-resolution-blue;

  @include max-tablet {
    padding: 61px 57px 53px 65px;
  }

  @include max-mobile {
    padding: 40px 25px 30px 25px;
  }
}

.reviews__card blockquote {
  margin: 0;
  display: grid;
  grid-template-columns: 80px minmax(0, 1fr);
  gap: 13px 28px;

  @include max-mobile {
    grid-template-columns: minmax(68px, 1fr) minmax(0, 1fr);
    gap: 16px 22px;
  }
}

.reviews__card-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @include max-mobile {
    width: 68px;
    height: 68px;
    grid-column: unset;
    grid-row: unset;
    transform: translateX(7px);
    justify-self: flex-end;
  }
}

.reviews__card cite {
  margin-top: -8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  word-break: break-all;

  @include max-mobile {
    margin-top: 0;
    padding-top: 8px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.reviews__text-container {
  grid-column: 2 / 3;

  @include max-mobile {
    text-align: center;
    grid-column: 1 / -1;
  }
}

.reviews__card p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
}
