.trainers__wrapper {
  padding-bottom: 120px;

  @include max-tablet {
    padding: 0 45px 101px 45px;
  }

  @include max-mobile {
    padding: 0 15px 70px 15px;
  }
}

.trainers h2 {
  max-width: 1160px;
  padding-left: 3px;
  margin: 0 auto 50px auto;
  font-family: $ff-bebas-neue;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @include max-tablet {
    margin-bottom: 40px;
    margin-left: 0;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @include max-mobile {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.trainers__cards {
  position: relative;
  color: $color-default-white;
  padding: 0 56px;

  @include max-tablet {
    max-width: 900px;
    margin: 0 auto;
  }

  @include max-mobile {
    padding: 0 32px;
    max-width: 360px;
  }
}

.trainers__card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  @include max-mobile {
    min-height: 274px;
  }

  &:hover .trainers__content {
    z-index: 1;
    box-shadow: 0 4px 4px $color-default-black-opacity;
    background: $color-saphire-opacity-light;
  }

  &:hover figcaption {
    display: none;
  }

  &:active .trainers__content {
    box-shadow: 0 4px 4px $color-default-black-opacity;
    background: $color-saphire-opacity-light;
    z-index: 1;
  }

  &:focus figcaption,
  &:active figcaption {
    display: none;
  }
}

.trainers__figure {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.trainers__img-wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.trainers__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include min-desktop {
    min-height: 294px;
  }
}

.trainers__figure figcaption {
  padding: 0 20px 23px 20px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: flex-end;
  justify-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  @include max-tablet {
    transform: translateX(4px);
  }
}

.trainers__content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 5px 5px 0 5px;
  z-index: -1;

  @include vp-1366 {
    padding-top: 51px;
  }

  @include min-desktop {
    padding-top: 30px;
  }

  @include max-tablet {
    padding-top: 51px;
  }

  @include max-mobile {
    padding-top: 42px;
  }
}

.trainers__content-overflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 240px;
  scrollbar-width: thin;
  scrollbar-color: $color-spindle transparent;

  @include min-desktop {
    max-height: 220px;
  }

  @include max-mobile {
    max-height: 210px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-spindle;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-light-slate-grey;
  }
}

.trainers__content p {
  margin: 0 0 -3px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  @include max-tablet {
    margin-left: -7px;
  }

  @include max-mobile {
    margin-left: 4px;
  }
}

.trainers__content span {
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle;
  text-align: center;

  @include max-tablet {
    margin-left: -7px;
  }

  @include max-mobile {
    margin-left: 2px;
  }
}

.trainers__content ul {
  margin: 0;
  padding: 33px 20px 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include max-mobile {
    padding: 33px 10px 0 30px;
  }
}

.trainers__content li {
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;

  &:not(:last-of-type) {
    margin-bottom: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $color-default-white;
  }
}
